@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,500,800);
body {
  font-family: Alegreya Sans;
  font-size: 16pt;
  background-color: #a9cfef;
  margin: 2em;
}

h2{
  font-weight:800;
  text-align: center;
}

h4{
  color: #998;
  font-weight:500;
  line-height: .6;
}

p {
  font-weight:300;
  color: #ffffff;
  font-size: 14pt;
  text-align: center;
}

h6 {
  text-align: center;
}

li {
  font-weight:300;
}

img {
  width:320px;

  border: #ddd;
}

#oh {
  width: 800px;
  margin: 0 auto;
}

.left {
  float: left;
  width: 350px;
  height: 250px;
}

.right{
  float: right;
  width: 450px;
  vertical-align: center;
  line-height:1.0;
  height: 250px;
}

#eyy {
  width: 950px;
  margin: 0 auto;
}

#sidebar {
  float: left;
  width: 350px;

}

#nation {
  float: right;
  width: 500px;
  line-height:1.0;
  margin: 1em;

}

.one {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ad88fc), color-stop(1, #3291d6));
	background:-moz-linear-gradient(top, #ad88fc 5%, #3291d6 100%);
	background:-webkit-linear-gradient(top, #ad88fc 5%, #3291d6 100%);
	background:-o-linear-gradient(top, #ad88fc 5%, #3291d6 100%);
	background:-ms-linear-gradient(top, #ad88fc 5%, #3291d6 100%);
	background:linear-gradient(to bottom, #ad88fc 5%, #3291d6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ad88fc', endColorstr='#3291d6',GradientType=0);
	background-color:#ad88fc;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	padding:3px 23px;
	text-decoration:none;
	text-shadow:0px 0px 0px #4b607a;
}
.one:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #3291d6), color-stop(1, #ad88fc));
	background:-moz-linear-gradient(top, #3291d6 5%, #ad88fc 100%);
	background:-webkit-linear-gradient(top, #3291d6 5%, #ad88fc 100%);
	background:-o-linear-gradient(top, #3291d6 5%, #ad88fc 100%);
	background:-ms-linear-gradient(top, #3291d6 5%, #ad88fc 100%);
	background:linear-gradient(to bottom, #3291d6 5%, #ad88fc 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3291d6', endColorstr='#ad88fc',GradientType=0);
	background-color:#3291d6;
}
.one:active {
	position:relative;
	top:1px;
}

