@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans:300,500,800);
body {
  font-family: Alegreya Sans;
  font-size: 16pt;
  background-color: #a9cfef;
  margin: 2em;
}

h2{
  font-weight:800;
  text-align: center;
}

h4{
  color: #998;
  font-weight:500;
  line-height: .6;
}

p {
  font-weight:300;
  color: #ffffff;
  font-size: 14pt;
  text-align: center;
}

h6 {
  text-align: center;
}

li {
  font-weight:300;
}

img {
  width:320px;

  border: #ddd;
}

#oh {
  width: 800px;
  margin: 0 auto;
}

.left {
  float: left;
  width: 350px;
  height: 250px;
}

.right{
  float: right;
  width: 450px;
  vertical-align: center;
  line-height:1.0;
  height: 250px;
}

#eyy {
  width: 950px;
  margin: 0 auto;
}

#sidebar {
  float: left;
  width: 350px;

}

#nation {
  float: right;
  width: 500px;
  line-height:1.0;
  margin: 1em;

}

.five {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f7cde4), color-stop(1, #e6a1c6));
	background:-moz-linear-gradient(top, #f7cde4 5%, #e6a1c6 100%);
	background:-webkit-linear-gradient(top, #f7cde4 5%, #e6a1c6 100%);
	background:-o-linear-gradient(top, #f7cde4 5%, #e6a1c6 100%);
	background:-ms-linear-gradient(top, #f7cde4 5%, #e6a1c6 100%);
	background:linear-gradient(to bottom, #f7cde4 5%, #e6a1c6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7cde4', endColorstr='#e6a1c6',GradientType=0);
	background-color:#f7cde4;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	padding:3px 12px;
	text-decoration:none;
	text-shadow:0px 0px 0px #c70067;
}
.five:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e6a1c6), color-stop(1, #f7cde4));
	background:-moz-linear-gradient(top, #e6a1c6 5%, #f7cde4 100%);
	background:-webkit-linear-gradient(top, #e6a1c6 5%, #f7cde4 100%);
	background:-o-linear-gradient(top, #e6a1c6 5%, #f7cde4 100%);
	background:-ms-linear-gradient(top, #e6a1c6 5%, #f7cde4 100%);
	background:linear-gradient(to bottom, #e6a1c6 5%, #f7cde4 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e6a1c6', endColorstr='#f7cde4',GradientType=0);
	background-color:#e6a1c6;
}
.five:active {
	position:relative;
	top:1px;
}

.chicken {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e0c9ff), color-stop(1, #cd81e6));
	background:-moz-linear-gradient(top, #e0c9ff 5%, #cd81e6 100%);
	background:-webkit-linear-gradient(top, #e0c9ff 5%, #cd81e6 100%);
	background:-o-linear-gradient(top, #e0c9ff 5%, #cd81e6 100%);
	background:-ms-linear-gradient(top, #e0c9ff 5%, #cd81e6 100%);
	background:linear-gradient(to bottom, #e0c9ff 5%, #cd81e6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0c9ff', endColorstr='#cd81e6',GradientType=0);
	background-color:#e0c9ff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:16px;
	padding:3px 9px;
	text-decoration:none;
	text-shadow:0px 0px 0px #4b607a;
}
.chicken:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #cd81e6), color-stop(1, #e0c9ff));
	background:-moz-linear-gradient(top, #cd81e6 5%, #e0c9ff 100%);
	background:-webkit-linear-gradient(top, #cd81e6 5%, #e0c9ff 100%);
	background:-o-linear-gradient(top, #cd81e6 5%, #e0c9ff 100%);
	background:-ms-linear-gradient(top, #cd81e6 5%, #e0c9ff 100%);
	background:linear-gradient(to bottom, #cd81e6 5%, #e0c9ff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#cd81e6', endColorstr='#e0c9ff',GradientType=0);
	background-color:#cd81e6;
}
.chicken:active {
	position:relative;
	top:1px;
}

